*{padding: 0;margin: 0;}
body{background: #dc9b4c;}
ul,ol {list-style: none;}
img {border: none;vertical-align: middle;}
a {text-decoration: none;color: #4d5957;}
h1,h2,h3,h4{font-weight: initial;}
/* Home page */
.jieshao{width: 980px;margin: auto;}
.header img{width: 980px;height: 280px;}
.nav{height: 50px;background: #f1b88d;text-align: center;line-height: 50px;border-top:1px solid#f1b88d;border-bottom:1px solid#f1b88d;}
.nav ul li{float: left;width: 88px;margin: 0 10px;}
.nav ul li:hover{background: #FFFFFF;color: #EF6F56;}
.shaoxiact{background: #FFFFFF;box-sizing: border-box;padding:0 20px 20px 20px;border-left:1px solid#f1b88d;border-right:1px solid#f1b88d;}
.sxbt h2{text-align: center;line-height: 48px;padding:15px 5px;}
.gerenleft{float: left;margin-right: 20px;}
.gerenright{float: left;margin-right: 20px;width: 200px;text-align: center;border: 1px solid#f1b88d;}

.gerenright1 h3{line-height: 36px;padding: 10px 0;background: #f1b88d;color: #FFFFFF;text-align: center;}
.gerenright1 p{line-height: 27px;text-indent: 2em;border: 1px solid#f1b88d;padding: 0 15px;}
.gerenleft img{width: 200px;padding-top: 10px;height: 286px;}
.aihao ul li{float: left;width: 210px;text-align: center;margin: 0 10px;border: 1px solid#EF6F56;background: #EF6F56;color: #FFFFFF;}
.aihao ul li img{width: 210px;height: 220px;}
.aihao ul li p{line-height: 36px;}
/* week 2 */
.Week2{background: #FFFFFF;line-height: 48px;padding:15px 5px;font-size: 24px;}
.Week2 h3{text-align: center;letter-spacing: 6px;}
/* week3 */
.jiaxiang{background: #FFFFFF;box-sizing: border-box;padding:0 20px 20px 20px;}
.jiaxiangleft{float: left;width: 400px;margin-right: 20px;}
.jiaxiangleft img{width: 400px;height: 267px;}
.jiaxiangright{float: left;width: 520px;}
.jiaxiangright h3{width: 100px;background: #ef6f56;color: #FFFFFF;line-height: 36px;text-align: center;}
.jiaxiangright p{line-height: 28px;text-indent: 2em;padding: 10px 0;}
/* bottom */
footer{background: #f1b88d;color: #FFFFFF;text-align: center;height: 55px;padding-top: 5px;}
footer p{line-height: 24px;}